<nav class="sidebar">
    <ul class="list-unstyled">
        <li><a href="/admin"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>

        <li>
            <a href="#submenu11" data-toggle="collapse">
                <i class="far fa-money-bill-alt"></i> Pagamento
            </a>
            <ul id="submenu11" class="list-unstyled collapse">
                <li><a href="/admin/pagamentos"><i class="far fa-money-bill-alt"></i> Pagamentos</a></li>
                <li><a href="/admin/cat-pagamentos"><i class="fas fa-funnel-dollar"></i> Categorias</a></li>
            </ul>
        </li>

        <li>
            <a href="#submenu1" data-toggle="collapse">
                <i class="fas fa-user"></i> Usuário
            </a>
            <ul id="submenu1" class="list-unstyled collapse">
                <li><a href="/admin/usuarios"><i class="fas fa-users"></i> Usuários</a></li>
            </ul>
        </li>
        <li><a href="/admin/logout"><i class="fas fa-sign-out-alt"></i> Sair</a></li>
    </ul>
</nav>